/* Footer fijo al borde inferior */
footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 10px 0;
}
/* 
  Selector por etiqueta:
  Aplica estilos globales al body, define fuente, elimina márgenes y centra el texto.
*/
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  text-align: center;
  border: 5px solid black;
  box-shadow: inset 0 100px 10px rgba(0, 0, 0, 0.5);
  display:block;
  min-height: 100vh; /* Ocupa al menos el 100% de la altura de la ventana */
  width: 100vw;      /* Ocupa el 100% del ancho de la ventana */
  box-sizing: border-box;
}

/* 
  Selector por clase:
  .resaltado se usa para destacar el título cuando se activa con JS.
*/
.resaltado {
  color: red;
  font-weight: bold;
}

/* 
  Selector por ID:
  #titulo estiliza el encabezado principal, usando fondo azul y texto blanco.
*/
#titulo {
  color: white;
  padding: 1rem;
  border-radius: 8px;
  background-image: url('../img/ejemplo6.jpg'); /* Cambia el nombre si quieres otra imagen */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

/* 
  Selector por clase:
  .imagen se usa en la galería para que todas las imágenes tengan el mismo tamaño y estén ordenadas horizontalmente.
*/
.imagen {
  width: 200px;      /* Ajusta el ancho */
  height: 150px;     /* Ajusta la altura */
  object-fit:fill; /* Recorta la imagen si es necesario */
  margin: 10px;      /* Espacio entre imágenes */
  display: inline-block; /* Orden horizontal */
}
